# Optional — for future waitlist backend integrations
# LOOPS_API_KEY=
# FORMSPREE_ENDPOINT=
# SUPABASE_URL=
# SUPABASE_ANON_KEY=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_TESTNET_CONTRACT_ID=CBE7HHQI3F7NGPKRILKFQNZYDSSZBN27BSJSOE3EVYKLJ6YXXPYZQPGA
